body{
  background-color: #FFFAFA;
  font-family: Helvetica;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.sidenav{
background-color: #212121;
position: fixed;
height:100%;
width:240px;
z-index:1;
overflow-x: hidden;
list-style-type:none;
text-decoration: none;
}

.inner > ul{
color: #FFFAFA;
list-style-type: none;
text-decoration: none;
padding-top: 205px;
padding-left: 42.5px;
line-height: 2.5;
text-align: left;
font-weight: bold;
font-family: Helvetica;
}

.active{
text-decoration: underline;
color:#7e7e7e;
pointer-events: none;
}
 a{
  color:#FFFAFA;
  font-family: Helvetica;
}


li a:hover:not(.current){
  text-decoration:none;
  color:#7e7e7e;
}

.title{
  padding-left: 44%;
  padding-top: 45px;
}

.title > .h3,h3{
  font-family: Helvetica;
  font-size: 2.8rem;
  color:#212121;
  z-index: 1;
}

.footer, footer p{
background-color: transparent;
position: fixed;
left: 0;
bottom: 0;
margin-bottom: 0px;
width: 100%;
color: #212121;
padding-left: 245px;
text-align: left;
}
